*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .first{
 order: -1;   
}
.last{
    order: 12;
}
.between{
    justify-content: space-between;
}

.center{
    text-align: center;
    justify-content: center;
    
}/*
.end{
    justify-content: end;
}

.around{
    justify-content: space-around;
}
.evenly{
    justify-content: space-evenly;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items:flex-end;
}


.row >[class*="col-"]{
    display: block;
}
.row {
    clear: both;
  }
  
  /* .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    float: left;
  } */
  
  /* .right {
    float: right;
  }
  */
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.row{
    display: flex;
    flex-flow:row;
}


.col-1{
    flex-basis: 8.333333%;
}
.col-2{
    flex-basis: 16.6666666%;
}
.col-3{
    flex-basis: 25%;
}
.col-4{
    flex-basis: 33.333333%;
}
.col-5{
    flex-basis: 41.666666%;
}
.col-6{
    flex-basis: 50%;
}
.col-7{
    flex-basis: 58,333333%;
}
.col-8{
    flex-basis: 66.666666%;
}

.col-9{
    flex-basis: 75%;
}
.col-10{
    flex-basis: 83.333333%;
}
.col-11{
    flex-basis: 91.666666%;
}
.col-12{
    flex-basis: 100%;
}  
.row{
    display: flex;
    flex-wrap: wrap row;
}